<div class="form">
  <nz-form-item>
    <nz-form-label>Username</nz-form-label>
    <nz-form-control>
      <input nz-input="" [(ngModel)]="username">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Password</nz-form-label>
    <nz-form-control>
      <input nz-input="" [(ngModel)]="password" type="password">
    </nz-form-control>
  </nz-form-item>
  <div nz-row>
    <button nz-button="" type="button" [nzType]="'primary'" (click)="submit()">Submit</button>
  </div>
</div>
